@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/DelaGothicOneRegular.ttf");
  font-family: "Dela Gothic One";
  font-weight: 400;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanSemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratBold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanBold.ttf");
  font-family: "Montserrat";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/InterBold.ttf");
  font-family: "Inter";
  font-weight: 700;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratSemiBold.ttf");
  font-family: "Montserrat";
  font-weight: 600;
}
@font-face {
  font-display: swap;
  font-style: normal;
  src: url("/public/fonts/MontserratRomanMedium.ttf");
  font-family: "Montserrat";
  font-weight: 500;
}
